<div>
    <div class="row-fluid">
        <div class="span12">
            <p>Originally developed to help with role playing game mapping, the Hexagon Calculator is a simple tool to assist anyone with basic measurement questions about the hexagon.</p>
            <a data-bind="attr: { href: 'mailto:' + 'notpkgame@gmail.com' }, text:'Contact Me'"></a>
        </div>
    </div>
</div>      