<div>
    <div class="row-fluid">
        <div class="span12">
            <p>Originally developed to help with role playing game mapping, the Hexagon Calculator is a simple tool to assist anyone with basic measurement questions about the hexagon.</p>
            <p>Contact Me: <a data-bind="attr: { href: 'mailto:' + 'notpkgame@gmail.com' }, text:'notpkgame@gmail.com'"></a></p>
            <p>Repository for Project: <br/> <a data-bind="attr: {href: 'https://github.com/willegetz/hexcalc'}, text:'Hexagon Calculator on Git Hub'"></a></p>
            <p>Other Repositories: <br/> <a data-bind="attr :{href: 'https://www.assembla.com/code/notpk/subversion/nodes'}, text:'Other Projects on Assembla'"></a></p>
        </div>
    </div>
</div>
